# SAP Standard Example

(tweaked for MTA Projects  & HDI Containers)

In [3]:
## HDI Schema
from hana_ml import dataframe
from hana_ml.algorithms import classification
dbSchema = 'HANA_ML_DEMO_HDI_DB_1'
host =   'hxehost'
port =   '39015'
user =   'MLUSER'
password = 'Password1'
connection_context = dataframe.ConnectionContext(host, int(port), user, password)
df = connection_context.table('examples.DATA_TBL_FIT', schema=dbSchema)  #'PAL_LOGISTICR_DATA_TBL'
lr = classification.LogisticRegression(connection_context, solver='newton',
                                        thread_ratio=0.1, max_iter=1000,
                                        categorical_variable=['V3'], pmml_export=1,
                                        stat_inf=True, tol=0.000001)
lr.fit(df, ['V1', 'V2', 'V3'], 'CATEGORY', False)
pred_df = connection_context.table('examples.DATA_TBL_PREDICT', schema=dbSchema)  #'PAL_FLOGISTICR_PREDICTDATA_TBL'
result = lr.predict(pred_df, ['V1', 'V2', 'V3'])
result.collect()

,ID,CLASS,SCORE,COMPLEMENT_SCORE,LOG_SCORE,LOG_COMPLEMENT_SCORE,DECISION_FUNC
0,0,1,9.503656e-01,0.049634,-0.050909,-3.003071e+00,-2.952163
1,1,1,8.485314e-01,0.151469,-0.164248,-1.887377e+00,-1.723129
2,2,1,9.555893e-01,0.044411,-0.045427,-3.114276e+00,-3.068849
3,3,0,3.702131e-02,0.962979,-3.296262,-3.772400e-02,3.258538
4,4,0,2.229288e-02,0.977707,-3.803488,-2.254513e-02,3.780943
5,5,0,2.504115e-01,0.749589,-1.384650,-2.882309e-01,1.096419
6,6,0,4.946187e-02,0.950538,-3.006553,-5.072701e-02,2.955826
7,7,0,9.922804e-03,0.990077,-4.612920,-9.972363e-03,4.602947
8,8,0,2.853014e-01,0.714699,-1.254209,-3.358944e-01,0.918315
9,9,0,2.689367e-01,0.731063,-1.313279,-3.132552e-01,1.000024
10,10,0,2.200654e-02,0.977993,-3.816416,-2.225230e-02,3.794163
11,11,0,4.714084e-03,0.995286,-5.357201,-4.725230e-03,5.352475
12,12,0,2.349977e-02,0.976500,-3.750765,-2.378029e-02,3.726985
13,13,0,5.830852e-04,0.999417,-7.447177,-5.832553e-04,7.446594
14,14,0,4.886534e-07,1.000000,-14.531612,-4.886536e-07,14.531612
15,15,0,6.938601e-06,0.999993,-11.878410,-6.938625e-06,11.878403
16,16,0,1.637959e-04,0.999836,-8.716889,-1.638093e-04,8.716726
17,17,1,8.986501e-01,0.101350,-0.106862,-2.289176e+00,-2.182314

# SCIKIT Example

In [4]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
X, y = load_iris(return_X_y=True)
#print (X)  
#print (y)
clf = LogisticRegression(random_state=0, solver='lbfgs', max_iter=1000,
                          multi_class='multinomial').fit(X, y)
#print (X[:2, :])
clf.predict(X[:2, :])
clf.predict_proba(X[:2, :]) 
clf.score(X, y)

0.9733333333333334